@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');


:root {
    // content_color
    --content-primary: rgba(22, 24, 35, 1.0);
    --content-secondary: rgba(22, 24, 35, 0.75);

    // background
    --bgprimary: rgba(254, 44, 85, 1.0);
    --bgSecondary: rgba(22, 24, 35, 0.06);
    --bgtertiary: #ffffff;
    // line_color
    --line-primary: rgba(254, 44, 85, 1.0);
    --line-secondary: rgba(22, 24, 35, 0.06);
    // shadow
    --shadow: rgba(0 0 0 / 12%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}
