.wrapper {
    padding: 20px 0 26px;
    border-bottom: 1px solid var(--line-secondary);
}

.menu-item {
    &:hover {
        background-color: var(--bgHover);
    }
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 10px;
    border-radius: 4px;
    transition: background ease-in-out 200ms;
    & .icon,
    & .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title {
        font-weight: 700;
        font-size: 18px;
        line-height: calc(25 / 18);
        color: var(--content-primary);
    }
    &.active .title {
        color: var(--content-redd);
    }
    &.active svg path {
        fill: var(--content-redd);
    }
}
